/* Domyślny styl */
:root {
    --background-color: white;
    --text-color: black;
}

/* Style dla jasnego motywu */
[data-theme="light"] {
    --background-color: white;
    --text-color: black;
}

/* Style dla ciemnego motywu */
[data-theme="dark"] {
    --background-color: #232324;
    --text-color: white;
}

body {
    font-family: Arial, sans-serif;
    /* align-items: center; */
    /* justify-content: center; */
    /* min-height: 100vh; */
    /* margin: 10px; */
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.containerSwitch {
    text-align: center;
	/* vertical-align: top; */
	position: absolute;
	right: 20px;
	top: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.round {
    border-radius: 34px;
}

p.switchText {
	font-size: 20px;
}