/* Domyślny styl */
:root {
    --background-color: white;
    --text-color: black;
}

/* Style dla jasnego motywu */
[data-theme="light"] {
    --background-color: white;
    --text-color: black;
	
	/*kolorowanie linków */
	--color-a-link: blue;
	--background-color-a-link: transparent;
	--text-decoration-a-link: none;
	
	--color-a-visited: gray;
	--background-color-a-visited: transparent;
	--text-decoration-a-visited: none;
	
	--color-a-hover: red;
	--background-color-a-hover: transparent;
	--text-decoration-a-hover: underline;
}

/* Style dla ciemnego motywu */
[data-theme="dark"] {
    --background-color: #232324;
    --text-color: white;
	
	/*kolorowanie linków */
	--color-a-link: green;
	--background-color-a-link: transparent;
	--text-decoration-a-link: none;
	
	--color-a-visited: pink;
	--background-color-a-visited: transparent;
	--text-decoration-a-visited: none;
	
	--color-a-hover: red;
	--background-color-a-hover: transparent;
	--text-decoration-a-hover: underline;
}

body {
    font-family: Consolas, Arial, sans-serif;
    /* align-items: center; */
    /* justify-content: center; */
    /* min-height: 100vh; */
    /* margin: 10px; */
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

@media (min-width: 500px) {
	.containerSwitch {
		text-align: right;
		position: absolute;
		right: 20px;
		top: 5px;
	}
	
	.switch {
	/* zmiana skali guzika */
	transform: scale(0.8, 0.8);
	
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
	}
	
	span.switchText {
		font-size: 15px;
	}
}

@media (max-width: 501px) {
	.containerSwitch {
		text-align: right;
		position: relative;
		right: 12px;
		top: 5px;
	}
	
	.switch {
	/* zmiana skali guzika */
	transform: scale(0.6, 0.6);
	
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
	}
	
	span.switchText {
		font-size: 12px;
	}
}



.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.round {
    border-radius: 34px;
}

a:link {
  color: var(--color-a-link);
  background-color: var(--background-color-a-link);
  text-decoration: var(--text-decoration-a-link);
}

a:visited {
  color: var(--color-a-visited);
  background-color: var(--background-color-a-visited);
  text-decoration: var(--text-decoration-a-visited);
}

a:hover {
  color: var(--color-a-hover);
  background-color: var(--background-color-a-hover);
  text-decoration: var(--text-decoration-a-hover);
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
