<!DOCTYPE html>
<html>
<head>
    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="./static/images/pacman_icon.png" />
    <link rel="stylesheet" href="./static/css/styles.css">
    <title>Strona startowa</title>
</head>
<body>
    <h1>Witaj na stronie <b>kam7il'a</b></h1>
    {% if not visited %}
        <p><b>Licznik wejść: </b> {{ counter }}</p>
		<p>Jesteś tu dzisiaj pierwszy raz.</p>
<!--		<p>Status wizyty: {{ visited }}</p> -->
    {% else %}
        <p><b>Licznik wejść: </b> {{ counter }}</p>
        <p>Jesteś tu dzisiaj kolejny raz.</p>
<!--		<p>Status wizyty: {{ visited }}</p> -->
    {% endif %}
<hr>
<span>TREŚĆ</span>
</body>
</html>
