<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="./static/images/pacman_icon.png" />
    <link rel="stylesheet" href="./static/css/styles.css">
    <title>Strona startowa</title>
</head>
<body>
    <div class="containerSwitch">
        <span class="switchText">Motyw strony</span>
        <br>
        <label class="switch">
            <input type="checkbox" id="themeSwitch">
            <span class="slider round"></span>
        </label>
    </div>
    <h1>Witaj na stronie <b>kam7il'a</b></h1>
        <p><b><u>Licznik wejść na stronę:</u></b> {{ counter }}</p>
        {% if personal_counter < 3 %}
            {% if not visited %}
            <p>Jesteś tu dzisiaj pierwszy raz.</p>
            {% else %}
            <p>Jesteś tu dzisiaj kolejny raz.</p>
            {% endif %}
        {% elif 3 <= personal_counter < 6 %}
        <p><b>Nieźle, dzisiaj to już Twoje wejście numer:</b> {{ personal_counter }}</p>
        {% elif 6 <= personal_counter < 10 %}
        <p><b>Sprawdzasz jaki będzie następny komunikat?. Dzisiejsze Twoje wejście numer:</b> {{ personal_counter }}</p>
        {% elif 10 <= personal_counter < 20 %}
        <p><b>Zagrajmy w grę. Dzisiejsze Twoje wejście numer:</b> {{ personal_counter }}</p>
        {% else %}
        <p><b>Koniec! Innych komunikatów już nie będzie! Stan licznika na dzisiaj:</b> {{ personal_counter }}</p>
        {% endif %}


    <hr>
    <h2>Linki</h2>
    <p><a href="https://pl.linkedin.com/" target="_blank">Profil LinkedIn</a></p>
    <p><a href="https://github.com" target="_blank">Profil GitHub</a></p>
    <p><a href="https://www.cloudskillsboost.google" target="_blank">Profil Google Cloud Skills Boost</a></p>
    <p><a href="https://strefakursow.pl/" target="_blank">Profil Strefa Kursów</a></p>
    <script src="./static/javascript/script.js"></script>
</body>
</html>
