<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="./static/images/pacman_icon.png" />
    <link rel="stylesheet" href="./static/css/styles.css">
    <title>Strona startowa</title>
</head>
<body>
    <div class="containerSwitch">
        <span class="switchText">Motyw strony</span>
        <br>
        <label class="switch">
            <input type="checkbox" id="themeSwitch">
            <span class="slider round"></span>
        </label>
    </div>
    <h1>Witaj na stronie <b>kam7il'a</b></h1>
        <p><b><u>Licznik wejść na stronę:</u></b> {{ counter }}</p>
    {% if not visited %}
		<p>Jesteś tu dzisiaj pierwszy raz.</p>
<!--		<p>Status wizyty: {{ visited }}</p> -->
    {% else %}
        <p>Jesteś tu dzisiaj kolejny raz.</p>
<!--		<p>Status wizyty: {{ visited }}</p> -->
    {% endif %}
    <hr>
    <h2>Linki</h2>
    <p><a href="https://pl.linkedin.com/" target="_blank">Profil LinkedIn</a></p>
    <p><a href="https://github.com" target="_blank">Profil GitHub</a></p>
    <p><a href="https://www.cloudskillsboost.google" target="_blank">Profil Google Cloud Skills Boost</a></p>
    <p><a href="https://strefakursow.pl/" target="_blank">Profil Strefa Kursów</a></p>
    <script src="./static/javascript/script.js"></script>
</body>
</html>
